body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.topo {
  background-color: #232F3E;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 64px;
  position: absolute;
}

.corpo {
  margin-top: 64px;
  padding: 20px;
  width: 100%;
}

.menu_lateral {
  background-color: #1B2430;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 73px;
  margin-top: 64px;
}

#lastUpdate{
  float: right;
    padding: 10px;
    height: 44px;
    color: #EEEEEE
}